Django>=5.0,<5.2
Pillow>=10.0          # за ImageField (логота, снимки на рецепти/продукти)
djangorestframework>=3.15   # ако решите да добавите REST API
psycopg2-binary>=2.9  # за PostgreSQL в продукция (по желание)
celery>=5.3           # за периодични задачи (напр. проверка на изтичащи продукти)
django-environ>=0.11  # за управление на .env настройки
